body,html{
    margin:0px;
    height:100%;
    background-color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    margin-top: 15px;
    display:block;
    width:150px;
    max-width:90vw;
    border:1px solid black;
    border-radius:15px;
    padding:8px 12px;
    margin:0;
}

.main{
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:100%;
    align-items:center;
    padding:2px;
}



.Div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:500px;
    width:300px;
    background-color: blue;
    border-radius:25px;
    color:black;
    margin-left:auto;
    margin-right:auto;
}

.weatherIcon{
    width:140px;
    height:140px;
}