body{
    margin:0px;
}
.header{
    height:100px;
    width:auto;
    background-color:aqua;
    display:flex;
    justify-content: space-between;;
}

input{
    display:flex;
    justify-content:center;
}