body,html{
    margin:0px;
    height:100%;
    background-color: rgb(16, 15, 15);
}

input{
    display:block;
    width:280px;
    max-width:90vw;
    border:1px solid black;
    border-radius:15px;
    padding:8px 12px;
    margin:2px;
}

.main{
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:100%;
    align-items:center;
    padding:0;
}

ul{
    display:flex;
    flex-direction:column;
    justify-content:center;  
    align-items: center;
    background-color:rgb(240, 234, 227);
    border-radius:25px;
    width: 250px; 
}
button{
    width:150px;
    height:25px;
    background-color: yellow;
    border:1px solid lightgreen;
    border-radius: 12px;
}
