body,html{
    margin:0px;
    height:100%;
    background-color: rgb(16, 15, 15);
}

input{
    display:block;
    width:280px;
    max-width:90vw;
    border:1px solid black;
    border-radius:15px;
    padding:8px 12px;
    margin-right:20px;
}

.main{
    display:flex;
    justify-content:center;
    padding:16px;
    width:100%;
    align-items:center;
}

ul{
    display:flex;
    flex-direction:column;
    justify-content:center;    
}
button{
    width:150px;
    height:25px;
    background-color: yellow;
    border:1px solid lightgreen;
    border-radius: 12px;
}
