body,html{
    margin:0px;
    height:100%;
}
.header{
    height:60px;
    width:auto;
    background-color:aqua;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

input{
    display:flex;
    justify-content:center;
    align-items: center;
    width:200px;
    border:1px solid black;
    border-radius:15px;
    padding:5px;
}

.Home,
.About{
    text-align: center;
    color:black;
    font-size:25px;
    gap:5px;
}