body{
    margin:0px;
}
.header{
    height:60px;
    width:auto;
    background-color:aqua;
    display:flex;
    justify-content: space-between;;
}

input{
    display:flex;
    justify-content:center;
}

.Home,
.About{
    color:black;
    font-size:15px;
}