body,html{
    margin:0px;
    height:100%;
    background-color:white;
}

input{
    margin-top: 15px;
    display:block;
    width:150px;
    max-width:90vw;
    border:1px solid black;
    border-radius:15px;
    padding:8px 12px;
    margin:0;
}

.main{
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:100%;
    align-items:center;
    padding:2px;
}

ul{
    display:flex;
    flex-direction:column;
    justify-content:center;  
    align-items: center;
    background-color:rgb(252, 252, 252);
    border-radius:25px;
    width: 290px; 
    color:black;
    margin:2px 2px 0;
    padding:0;
    list-style:none;
}

.Div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:500px;
    width:300px;
    background-color: blue;
    border-radius:25px;
    color:cyan;
    margin-left:auto;
    margin-right:auto;
}

.weatherIcon{
    width:140px;
    height:140px;
}